@font-face { 
  font-family: "generica";
  src: url("../Fonts/Generica.otf") format('truetype');
 }
@font-face {
  font-family: "apollo";
  src: url("../Fonts/RomanSerif.ttf") format('truetype');
}


::-webkit-scrollbar {
  display: none;
}



body{
  background: #d9e3f1dd;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}




/*header elements*/
header {
  padding: 2%;
  background-position: center;
  margin-top: 8vh;
  height: 74vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img img {
  height: 40vw;
  width: 20vw;
}



.logo {
  align-items: center;
  margin-right: 1vw;
}

.logo img {
  width: 12vw;
  height: 6vw;
  margin-left: 0.5vw;
  border-radius: 35px;
  background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
  margin-top: 60%;

}

.title {
  text-align: center;
  font-size: 2em;
  font-family: 'Taviraj', serif;
  border-radius: 38px;
  margin-top: 9%;
  animation-duration: 10s;
  animation-name: initial;
}

.title h1 {
  color: #485785;
}


.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.elements img {
  width: 4vw;
  height: 4vw;
  margin-right: 3.5vw;
  border-radius: 35px;
  background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
  margin-top: 115%;
}

.elements a {
  text-decoration: none;
}

/*mouse elements*/

.container_mouse {
  border-bottom: 1px solid
}

.mouse-btn {
  margin: 20px auto;
  width: 40px;
  height: 80px;
  border: 3px solid #546BBD;
  border-radius: 20px;
  display: flex;
  border-radius: 35px;
   background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: linear-gradient(170deg, rgba(0, 0, 0, 0.918), rgb(123, 124, 124));
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 1s linear infinite;
}



@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}


/*nav elements*/
nav {
  position: absolute;
  top: 0;
  left: 35%;
}


.nav-link {
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-item {
  border-radius: 35px;
  background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
  margin-right: 20px;
}



/*whatsapp elements*/
.whatsapp-float {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

.whatsapp-float a {
  display: block;
  width: 2.5vw;
  height: 3vw;
  position: relative;
}

.whatsapp-float a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
}



/*container elements*/
.flex-section {
  margin-top: 3%;
  padding-bottom: 10%;
  justify-content: center;
  border-bottom: 1px solid
}


h2 {
  padding-bottom: 5%;
  text-align: center;
  color: #485785;
  font-family: 'Taviraj', serif;
}

.card {
  margin: 3vw;
  margin-bottom: 1vw;
  height: auto;
  border-radius: 43px;
  background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
}

.card img {
  border-radius: 35px;
}

.card-title {
  color: #515e85;
}


h5 {
 text-align: center;
}

.card ul {
  white-space: pre-line;
  justify-content: center;
  font-size: 2vh;
  font-family: "apollo";
}

.card ul li {
  background-color: transparent;
  color: #546bbd

}

.card:hover {
  transition: all 0.4s ease-out;
  border: 2px solid transparent;
}


audio {
width: 230px;
height: 54px;
}



/*footer elements*/
footer {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}

.social-media img {
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  border-radius: 60px;
  background-color: transparent;
  box-shadow:  2px 2px 4px #d3d3d3, -2px -2px 4px #f3f3f3;
}


.maps {
  padding: 1%;
}




@media screen  and (max-width:750px) {

  body {
    background: #c1cae0;
  }


  header {
    background-position: center;
    height: 15vh;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 1vw;
  }

  .logo img {
    width: 15vw;
    margin-left: 0;
    margin-top: 0;
  }

  .title {
    font-size: 2em;
    margin-top: 1vw;
  }

  .elements {
    justify-content: center;
  }

  .elements img {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    margin-top: 3vw;
  }

  .mouse-btn {
    display: none;
  }


  .img img {
    display: none;
  }
  

  nav {
    display: none;
    }


  .whatsapp-float {
    display: none;
  }

  footer {
    background-position: center;
    background-size: cover;
    height: 20vh;
  }

  .maps {
    display: none;
  }
  }

  

@media screen  and (max-width:1500px) {
  header {
    background-position: center;
    background-size: cover;
    height: auto;

  }

  nav {
    position: absolute;
    top: 0;
    left: 35%;
  }

  .nav-item {
    margin: 0 60px;
  }

    .whatsapp-float {
      display: none;
    }

    .flex-container {
      background-position: center;
      margin-top: 2%;
      margin-bottom: 3vh;
    }

    footer {
      background-position: center;
      background-size: cover;
      height: 20vh;
    }

    .information .links a {
      color: white;
    }

    nav {
      flex-direction: column;
  }

}